body{
    
    background-color: black;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0%;
}

#back{
    position: absolute;
    width: 100%;
    margin: none;
    z-index: -1;
    padding: 0;
}

#nav-box{
    display: flex;
    height: 30px;
    width: 350px;
    margin: auto;
    border: 1px solid;
    border-radius: 25px;
    background-color: blanchedalmond;
    padding: 10px;
    text-align: center;
    position: relative;
    top: 15px
}

#title{
    height: 35px
}

a{
    color: rgb(205, 147, 85);
}

#title, nav{
    display: inline;
    margin: 0 10px;
}

h1{
    font-size: 250px;
    text-align: center;
    position: absolute;
    top: -100px;
    z-index: -1;
}

#black{
    background: linear-gradient(transparent, black, black);
    width: 100%;
    height: 560px;
    margin: 0;
    position: absolute;
    top: 550px;
    z-index: 2;
}

#rudeus-main{
    display: flex;
    margin: auto;
    position: relative;
    top: 50px;
    height: 1000px;
    z-index: 0;
}

hr{
    margin-top: 70px
}

#line-1{
    width: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    margin: auto;
}

#slider-1{
    display: flex;
    gap: 10px;
    animation: scroll 20s ease-in-out infinite alternate;
}

.vols{
    height: 300px;
    border-radius: 10px;
    margin: 10px 0;
}



